# Project exclude paths
/target/
*.iml
*.meta
.idea/compiler.xml
.idea/dataSources.xml
.idea/dataSources/870cd947-2d46-4890-819c-c8d9d863ae61.xml
.idea/jarRepositories.xml
.idea/libraries/Maven__antlr_antlr_2_7_7.xml
.idea/libraries/Maven__com_fasterxml_classmate_1_5_1.xml
.idea/libraries/Maven__com_sun_istack_istack_commons_runtime_3_0_7.xml
.idea/libraries/Maven__com_sun_xml_fastinfoset_FastInfoset_1_2_15.xml
.idea/libraries/Maven__javax_activation_javax_activation_api_1_2_0.xml
.idea/libraries/Maven__javax_persistence_javax_persistence_api_2_2.xml
.idea/libraries/Maven__javax_xml_bind_jaxb_api_2_3_1.xml
.idea/libraries/Maven__net_bytebuddy_byte_buddy_1_10_17.xml
.idea/libraries/Maven__org_apiguardian_apiguardian_api_1_1_0.xml
.idea/libraries/Maven__org_glassfish_jaxb_jaxb_runtime_2_3_1.xml
.idea/libraries/Maven__org_dom4j_dom4j_2_1_3.xml
.idea/libraries/Maven__org_glassfish_jaxb_txw2_2_3_1.xml
.idea/libraries/Maven__org_hibernate_common_hibernate_commons_annotations_5_1_2_Final.xml
.idea/libraries/Maven__org_hibernate_hibernate_core_5_4_25_Final.xml
.idea/libraries/Maven__org_javassist_javassist_3_27_0_GA.xml
.idea/libraries/Maven__org_jboss_jandex_2_1_3_Final.xml
.idea/libraries/Maven__org_jboss_logging_jboss_logging_3_4_1_Final.xml
.idea/libraries/Maven__org_jboss_spec_javax_transaction_jboss_transaction_api_1_2_spec_1_1_1_Final.xml
.idea/libraries/Maven__org_junit_jupiter_junit_jupiter_api_5_7_0.xml
.idea/libraries/Maven__org_junit_jupiter_junit_jupiter_engine_5_7_0.xml
.idea/libraries/Maven__org_junit_platform_junit_platform_commons_1_7_0.xml
.idea/vcs.xml
.idea/modules.xml
.idea/misc.xml
.idea/libraries/Maven__org_postgresql_postgresql_42_2_22_jre7.xml
.idea/libraries/Maven__org_opentest4j_opentest4j_1_2_0.xml
.idea/libraries/Maven__org_jvnet_staxex_stax_ex_1_8.xml
.idea/libraries/Maven__org_junit_platform_junit_platform_engine_1_7_0.xml
src/main/resources/db.properties
.idea/uiDesigner.xml
src/main/resources/hibernate.cfg.xml
.idea/dataSources.local.xml
.idea/workspace.xml
